.about-us .card {
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-us .card-title {
    color: #FFA500;
    font-family: "Outfit";
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.about-us .card-text {
    /**color: #FFF; **/
    text-align: center;
    font-family: "Outfit";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}