.recipes,.tips,.newsletter {
    padding-top: 5em;
}

.newsletter  {
  padding-bottom: 5em;
}
.recipes h2 {
    margin-bottom: 1em;
    font-family: "Sf-Pro-Display";
    font-weight: 700;
}

.tips  h2 {
  margin-bottom: 1em;
  font-family: "Sf-Pro-Display";
  font-weight: 700;
}

.newsletter  h2 {
  margin-bottom: 1em;
  font-family: "Sf-Pro-Display";
  font-weight: 700;
}

 .card-blog {
    width: 20em;
    height: 15em;
    position: relative;
    border-radius: 30px;
    border: 0px;
    align-items: center;

    display: flex;
    flex: 0 0 20em;
    scroll-snap-align: start;
  }

  .card-blog .card-body {
    background-color: #FFAE42;
    position:absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
  
  }

  .scrolling-wrapper {
    display: flex;
    gap: 30px;
    height: 420px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    height: fit-content;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

#recipe1 {
    background-image: url(./../assets/pictures/pancakes.jpg);
    background-size: cover;
    background-position: bottom;
}

#tips1 {
  background-image: url(./../assets/pictures/tips.jpg);
  background-size: cover;
  background-position: top;
}

#newsletter1 {
  background-image: url(./../assets/pictures/newsletter.png);
  background-size: cover;
  background-position: top;
}

